.pann{
    width: 100%;
    height: 450px;
}
.title{
    position: absolute;
    color: white;
    bottom: 112px;
    font-size: 60px;
    left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
.btn{
    position: absolute;
    bottom: 124px;
    left: 209px;
    border: none;
    background-color: #a26c55fe;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 19px;
    font-weight: 300;
}
.btn:hover{
    transform: scale(1.08);
}
.sec2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
}
.sec2 .sq{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #A16C55;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sec2 img{
    width: 220px;
    filter: brightness(80%);
}
.sec2 .wo{
    margin-right: 10px;
}
.sec2 .me{
    margin-left: 10px;
}
.sec3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 23px 0;
    text-align: center;
    background-color: #A16C55;
  color: rgba(255, 255, 255, 0.93);
    gap: 15px;
}
.sec3 h3{
    margin-top: 20px;
}
.sec3 .tag{
    font-size: xx-large;
    background-color: #A16C55;
    padding: 15px;
    border-radius: 50%;
}
.sec3 .col{
    display: flex;
    flex-direction: column;
}
.cont{
    background-color: #a16c5539;
    padding: 22px;

}
@media only screen and (max-width: 700px){
 
    .sec2 img{
        width: 200px;
        filter: brightness(80%);
    }
}
@media only screen and (max-width: 600px){

    .pann{
        height: 270px;
    }
    .title{
        font-size: 30px;
        bottom: 96px;
        left: 18px;
    }
    .btn{
        font-size: 15px;
        bottom: 46px;
    left: 18px;
    }
    .sec2 img{
        width: 100px;
    }
    .sec2 .sq{
        font-size: 23px;
    }
    .sec2 .je{
        width: 150px;
    }
    .sec3 .tag{
        font-size: x-large;
    }
    .sec3 h3{
        margin-top: 0;
        font-size: 11px;
    }
    .cont{
        padding: 8px;
    }
 
}
@media only screen and (max-width: 400px){
    .sec2 img{
        width: 55px;
    }
    .sec2 .sq{
        font-size: 11px;
    }
    .sec2 .je{
        width: 80px;
    }
   
}

