.CatBtn {
    border: 1px solid #A16C55;
    padding: 10px;
    margin: 0 15px;
    border-radius: 8px;
    cursor: pointer;
    color: #A16C55;
    background-color: white;
}

.CatBtn:hover {
    transform: scale(1.09);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.6) 0px 18px 36px -18px;
}

@media only screen and (max-width: 600px) {
    .cont {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        justify-content: unset;
        padding: 50px 0;

    }

    .cont::-webkit-scrollbar {
        width: 0;
    }
    .CatBtn{
        font-size: 12px;
    }
}